<div class="col-md-10 bootstrap snippets bootdeys">
  <div class="widget-container scrollable list rollodex">
    <div class="heading">
      <i class="fa fa-comment"></i>Rollodex<i class="fa fa-plus pull-right"></i><i
        class="fa fa-search pull-right"></i><i class="fa fa-refresh pull-right"></i>
    </div>
    <div class="widget-content">
      <div class="roll-title">
        <h1>Contact</h1>
      </div>
      <ul>
        <ng-container *ngFor="let member of members">
          <app-member-card [member]="member"></app-member-card>
        </ng-container>
      </ul>
    </div>
  </div>
</div>