<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form #loginForm="ngForm" (ngSubmit)="Register()" autocomplete="off" class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    Register Form
                </span>
                <span class="login100-form-title p-b-48">
                    <img src="../../assets/images/favicon.ico" class="zmdi zmdi-font"/>
                </span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                    <input 
                    
                    [(ngModel)]="model.username"
                    class="input100 has-val"
                     type="text" 
                     name="username"
                     #name="ngModel"
                    >
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass" >
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input 
                    [(ngModel)]="model.password"
                    class="input100 has-val" 
                    type="password"
                     name="password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Register
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        have an account?
                    </span>

                    <a class="txt2" role="button">
                       Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

